<style>
    .card {
        width: 25%;
        float: none;
        justify-content: center;
        justify-self: center;
        align-self: center;
    }
</style>

@{string i = $"{Model.Name} Insignia.png";}
@i
<div class="card">
    <h3 class="card-header"> @Model.Name </h3>
    <div class="card-body">
        <h5 class="card-title"> @Model.Location </h5>
        <h6 class="card-subtitle text-muted"> @Model.Motto </h6>
    </div>
    <img style="height: 200px; width: 200px; display: block;" src="~/lib/Images/Insignias/Majcom Insignias/@i.*">
    <div class="card-body">
        <p class="card-text"> @Model.Mission </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Size Personnel</li>
    </ul>
    @if (SessionCredentials.Status == true)
    {
        <a type="button" class="btn btn-warning btn-sm" asp-route-Name="@Model.Name" asp-action="ModifyMajcom">Modify</a>
        <a type="button" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger btn-sm" asp-route-Name="@Model.Name" asp-action="DeleteMajcom">Delete</a>
    }
</div>